/* @font-face {
  font-family: 'EASTARJET-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */

/* * {
  padding: 0;
  margin: 0;
  font-family: 'EASTARJET-Medium';
} */

body{
  /* width: 100%;
  height: 100%; */
}

.loginBox{
  position: absolute;
  left:50%;
  top: 50%;
  width: 100%;
  height: 55%;
  transform: translate(-50%, -50%);
}

.loginBox h1 {
  color: #66c0dc;
  text-align: center;
  font-size: 40px;
  
  /* margin padding */
  margin-bottom: 1%;

  &:hover{
    color: #1d9cc2;
  }
}

#locale {
  width: max-content;
  margin-bottom: 2%;
  margin-left: 1%;
  font-size: 13px;
  color:#66c0dc;
  font-weight: 600;

  &:hover{
    color: #1d9cc2;
  }
}

#loginForm{
  padding: 30px;
}

.input_box > input , #loginForm > input{
  width: 100%;
  height: 45px;
  box-sizing: border-box;

  &::placeholder{
    color: #7e7d7dcc;
  }
}

.input_box > input:not([type="submit"]){
  font-size: 17px;
  padding: 5px 5px 5px 15px;

  font-weight: 700;

  background-color: #f9f9f9fa;
  color:#616161;
  background-repeat : no-repeat;
  background-size : 11px;
  background-position: 10px center;

  &:hover{
    background-color: rgba(168, 229, 248, 0.2);
  }

  &:focus{
    background-color: rgba(102, 192, 220, 0.2);
    /* outline-color: white; */
    outline: none;
  }
  &::placeholder{
    font-weight: 400;
  }
}

#loginForm > input[type="submit"] {
  font-size: 18px;
  /* color */
  color: #fff;
  background-color: #66c0dc;

  /* font  */
  font-weight: 700;
  cursor: pointer;

  border:none;
  border-radius: 20px;

  /* margin padding */
  margin-top: 8%;

  &:hover {
    background-color: #1d9cc2;
  }
  &:focus{
    border: 1px solid #66c0dc;
    background-color: white;
    color: #66c0dc;
    outline:none;
  }
}

.input_box{
  position: relative;
}

.input_box > button{
  position: absolute;
  top:25%;
  border: none;
  background-color: rgba(255,255,255,0);
  
  &:hover{
    cursor: pointer;
  }
}

#id_box > button{
  width: 19px;
  right: 4%;
}

#pw_box > button:nth-child(2){
  width: 19px;
  right: 13%;
}

#pw_box > button:nth-child(3){
  width: 23px;
  right: 4%;
}


#userID{
  border: none;
  border-radius: 20px;
  margin-bottom: 2%;
}

#userPW{
  border: none;
  border-radius: 20px;
  margin-bottom: 2%;
}

#loginForm > input[type="checkbox"] {
  display: none;
}

#loginForm > label {
  color: #616161;
}

#check_icon {
  margin-bottom: 7.5%;
  margin-right: 5px;
  color: rgba(185, 185, 185, 0.8);
}

#a_box{
  text-align: center;
  margin-top:2%;
  margin-bottom:2%;
  font-size: 14px;
}

#a_box > a {
  text-decoration: none;
  color: #616161;
  padding: 5px 10px 5px 10px ;

  &:hover{
    color: #1d9cc2;
    font-weight: 600;
  }
  &:focus{
    border-radius: 10px;
    font-weight: 600;
    outline: 1px solid rgba(102, 192, 220,0.5);
  }
}

#a_box > span{
  margin : 0 1% 0 1%;
  color: #616161;
}

#loginForm input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-size: contain;
}

#loginForm input[type="checkbox"]:checked + label {
  background-repeat: no-repeat;
  background-size: contain;
}


#label_box{
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 5px 3px;
  
  &:hover{
    cursor: pointer;
    font-weight: 600;
  }
}

#label_box > span{
  font-size: 15px;
  position:center;
}

@media screen and (min-width: 431px) {

  .loginBox {
    position: absolute;
    left:50%;
    top: 50%;
    width: 500px;
    height: 55%;
    transform: translate(-50%, -50%);
  }
  
  .loginBox h1 {
    font-size: 60px;
  }

  #loginForm{
    border: 1px solid rgba(107, 107, 107, 0.6);
    border-radius: 5px;
  }

  #loginForm > input{
    height: 45px;
  }

  #userID{
    /* border */
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(185, 185, 185, 0.7);
  
    background-image : url('./img/user_before.svg');
    margin-bottom: 0;

    &:focus{
      background-image : url('./img/user_after.svg');
    }
  }
  
  #userPW{
    /* border */
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(185, 185, 185, 0.7);
    border-top: none;

    background-image : url('./img/pwd_before.svg');

    &:focus{
      background-image: url('./img/pwd_after.svg');
    }
  }

  #loginForm > input[type="submit"] {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3da1c0;

    margin-top: 3%;
  }
  
  .input_box > input:not([type="submit"]){
    padding: 5px 5px 5px 45px;
    font-size: 14px;
    background-color: rgba(255,255,255,0.1);

    background-size : 13px;
    background-position: 20px center;

    &:hover{
      background-color: rgba(102, 192, 220, 0.1);
    }

    &:focus{
      background-color: rgba(102, 192, 220, 0.2);
      outline-color: rgba(102, 192, 220, 1);
      outline-style: auto;
      /* #66c0dc -> rgb 변환 102, 192, 220 */
    }
  }

  .input_box > button{
    position: absolute;
    top:30%;
    border: none;
    background-color: rgba(255,255,255,0);
    
    &:hover{
      cursor: pointer;
    }
  }

  #id_box > button{
    width: 15px;
    right: 3%;
  }
  
  #pw_box > button:nth-child(2){
    width: 15px;
    right: 10%;
  }
  
  #pw_box > button:nth-child(3){
    width: 17px;
    right: 3%;
  }


  .loginBox h1 {
    font-size: 50px;
    margin-bottom: 5%;
  }

  #label_box > span{
    font-size: 12px;
  }

  #label_box{
    padding-left: 23px;
    background-size: 13px;
    background-position: 5px 4px;
  }

  #locale{
    font-size: 13px;
  }

  #a_box{
    margin-top: 5%;
    font-size: 13px;
  }

  #a_box > span{
    margin : 0 10px 0 10px;
    color: #616161;
  }
}