/* 컴퓨터 */
@media screen and (min-width: 800px) {
    .Body{
    width: 100vw;
    height: auto;

    margin-top: 6vh;
}
}

@media screen and (max-width: 800px) {
    .Body{
        width: 100vw;
        height: auto;
        padding-bottom: 8vh;
    }
}