
@media screen and (max-width: 800px) {
.OneBoard{
    width: 100vw;
    min-height: 88vh;
    padding-bottom: 6vh;
}

.oneboard-all{
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:column;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}

.oneboard-navbar{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    padding: 3%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(77, 77, 77, 0.2);

    position: relative;
}
.oneboard-navbar-backIcon{
    width: 7.5%;
    height: auto;
}
.oneboard-navbar-logoIcon{
    width: 85%;
    height: 25px;
    text-align: center;
}
.oneboard-navbar-settingIcon{
    width: 7.5%;
    height: auto;
}

.oneboard-navbar-setting {
    width: 130px;
    height: auto;
    position: absolute;
    top: 90%;
    right: 2%;
    background-color: rgb(255,255,255);
    box-sizing: border-box;
    border-radius: 5px;
    border:0.1px solid rgb(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.oneboard-navbar-setting.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.oneboard-navbar-setting-button{
    width: 100%;
    height: 60px;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.onsbb{
    border-bottom: 0.1px solid rgb(0,0,0,0.3);
}

.oneboard-navbar-setting-button-text{
    text-align: center;
    width: 100%;
    height: auto;
}

.oneboard-bar{
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:row;

    margin-top: 35px;
    width: 100%;
    height: 50px;

    padding-bottom: 29px;
    /* border-bottom: 1px solid rgb(0,0,0,0.2); */
    border-bottom: 7px solid rgba(119, 119, 119, 0.1);
}

.oneboard-bar-button{
    height: 70%;
    width: 24%;
    margin-left: auto;
    margin-right: auto;

    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:row;

    color: black;
    background-color: white;
    border:1px solid rgb(0,0,0,0.1);
    border-radius: 0.5em;

    font-size: 15px;
}

.oneboard-bar-icon{
    height: 16px;
    width: auto;
    margin-right: 5px;
}

.oneboard-header{
    width: 96%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 18px;
    padding-left: 4%;
    display: flex;
    align-items: center;
}

.oneBoard-userIcon{
    width: 33px;
    height: 33px;
    margin-right: 7px;
}
.oneboard-data-div{
    display: flex;
    flex-direction: column;
}
.oneboard-data{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.oneboard-writer{
    font-size: 16px;
    font-weight: bold;
}
.oneboard-title{
    font-size: 19px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
}
.oneboard-content{
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 8px;
    width: 96%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.oneboard-image{
    width: 95%;
    height: auto;

    border-radius: 1em;
}
.board-data-div-second{
    width: 96%;
    padding-left: 4%;
    font-size: 13px;
    margin-bottom: 10px;
}
}