
@media screen and (max-width: 800px) {
.OneBoard{
    width: 100vw;
    height: auto;

    padding-bottom: 5vh;

}

.oneboard-all{
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

.oneboard-navbar{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    border-bottom: 1px solid rgba(77, 77, 77, 0.2);
}
.oneboard-navbar-backIcon{
    width: 25px;
    height: 25px;
}
.oneboard-navbar-logoIcon{
    width: auto;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
}
.oneboard-navbar-settingIcon{
    width: 25px;
    height: 25px;
}

.oneboard-bar{
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:row;

    margin-top: 35px;
    width: 100%;
    height: 50px;

    padding-bottom: 29px;
    /* border-bottom: 1px solid rgb(0,0,0,0.2); */
    border-bottom: 7px solid rgba(119, 119, 119, 0.1);
}

.oneboard-bar-button{
    height: 70%;
    width: 24%;
    margin-left: auto;
    margin-right: auto;

    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:row;

    color: black;
    background-color: white;
    border:1px solid rgb(0,0,0,0.1);
    border-radius: 0.5em;

    font-size: 15px;
}

.oneboard-bar-icon{
    height: 16px;
    width: auto;
    margin-right: 5px;
}

.oneboard-header{
    width: 96%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 4%;
    display: flex;
    align-items: center;
}

.oneBoard-userIcon{
    width: 33px;
    height: 33px;
    margin-right: 7px;
}
.oneboard-data-div{
    display: flex;
    flex-direction: column;
}
.oneboard-data{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.oneboard-writer{
    font-size: 16px;
    font-weight: bold;
}
.oneboard-title{
    font-size: 19px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
}
.oneboard-content{
    padding-left: 4%;
    margin-bottom: 8px;
    width: 96%;
}
.oneboard-image{
    width: 95%;
    height: auto;

    border-radius: 1em;
}
.board-data-div-second{
    width: 96%;
    padding-left: 4%;
    font-size: 13px;
    margin-bottom: 10px;
}
}