@media screen and (max-width: 800px) {
.Post{
    width: 100%;
    height: 94vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-form > * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.post-bar{
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-bottom: 5px;
    padding-top: 5px;

    border-bottom: 1px solid rgb(0,0,0,0.1);
    border-top: 1px solid rgb(0,0,0,0.1);
}

.post-bar-two{
    width: 90%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.post-submit{
    width: 15%;
    height: 90%;
    margin-left: auto;
    margin-right: 10px;

    border:0;
    border-radius: 0.5em;
    font-size: 100%;
    font-weight: bold;
    color:#ffffff;

    background-color: #66c1dc;
}
.post-p{
    /* margin-right: auto; */
    margin-left: auto;
    font-weight: bold;
}

.post-category{
    width: 50%;
    height: 90%;
    /* margin-right: 10px;
    margin-right: 60px; */
    text-align: center;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 0;
    border-radius: 0.3em;
    color: rgb(0,0,0,0.6);
    background-color: #66c1dc10;
    font-weight: bold;
}
.post-check{
    width: 20px;
    height: 20px;
    margin-left: 7px;
}


.post-title{
    width: 90%;
    height: 5%;
    font-size: 100%;
    font-weight: bold;
    /* padding-left: 3%; */
    box-sizing: border-box;

    border: 1px solid #66c1dc;
}
.post-title:focus{
    outline: none;
}

.post-content{
    width: 90%;
    height: 60%;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: bold;
    border: 1px solid #66c1dc;
}
.post-content:focus{
    outline: none;
}

/* .post-file{
    width: 90%;
    height: 10%;
} */

.filebox{
    width: 90%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #66c1dc;
    border-radius: .30em;
    cursor: pointer;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox label { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
     
    width: 100%;
    height: 100%;
}
.post-photoIcon{
    height: 100%;
}


}