/* 컴퓨터 */
@media screen and (min-width: 800px) {
.Main{
    width: 100vw;
    height: auto;
}
}

@media screen and (max-width: 800px) {
    .Main{
        width: 100vw;
        height: auto;
        display: flex; 
        align-items: center;
        justify-content:center;
        flex-direction:row;
    }
}