@media screen and (max-width: 800px) {
    .Book{
        width: 100vw;
        min-height: 94vh;
    }

    .Book-header{
        width: 100%;
        height: auto;
    }

    .Book-header-logo{
        height: 30px;
        width: auto;
    }

    .Book-header-name{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;

        display:flex;
        align-items: center;
    }

    .Book-header-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100vw;
        box-sizing: border-box;
        padding: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .Book-header-search{
        width: 100%;
        height: 33px;
        border:1px solid #1897be;
        background-color: white;
        border-radius: 15px;
        font-size: 15px;
        padding-left:20px ;
    }
    .Book-header-search:focus {
        outline:none;
      }

    .Book-header-search-button{
        position: absolute;
        right: 3%;
        border: 0;
        background-color: transparent;
    }
    .Book-header-searchIcon{
        height: 38px;
        width: auto;
    }

    .Book-selectDepartment{
        width: 100%;
        height: auto;
    }

    .Book-selectDepartment-div{
        width: 100%;
        height: auto;
        /* box-sizing: border-box;
        padding: 5%; */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Book-selectDepartment-div-department{
        width: 50%;
        height: auto;
        box-sizing: border-box;
        padding: 5%;
        text-align: center;
    }

    .Book-selectDepartment-div-departmentIcon{
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .Book-selectDepartment-div-department-name{
        font-size: 15px;
        font-weight: 400;
    }
}