.App {
  width: 100vw;
  height: 100vh;

  display: flex; 
  align-items: center;
  flex-direction:column;
  background-color: rgb(252,252,252);
}

/* 프렌텐다드 경고문 */
/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */
/* 이스타 평소 */
/* @font-face {
  font-family: 'EASTARJET-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
} */

/* @font-face {
  font-family: "Orbit", sans-serif;
  src :url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
  font-weight: 400;
  font-style: normal;
} */
/* 
.orbit-regular {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
} */


/* 본고딕 노토산스 */
@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);

*{
  font-family: 'Noto Sans Korean', sans-serif;
  /* font-family: 'Pretendard-Regular', sans-serif; */
  /* font-weight: bold; */

  /* 스크롤바 없애기 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 스크롤바 없애기 */
*::-webkit-scrollbar {
  display: none;
}

input {
  touch-action: manipulation;
}


/* 공용 컴포넌트 css */
.BottomArrow{
  width: auto;
  height: 5vh;
  text-align: center;
}

.BottomArrowDiv{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}