@media screen and (max-width: 800px) {
    .BoardList{
        width: 100vw;
        height: auto;
        
    }

    .board-bar{
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: row;
        border-bottom: 4px solid rgba(119, 119, 119, 0.1);
    }

    .board-bar-list{
        width: 25%;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease; 
    }
    .board-bar-list.select{
        /* border-bottom:2px solid #66c0dc;
        color: #66c0dc; */
        border-bottom:2px solid #1897be;
        color: #1897be;
    }
    .barl{
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: rgb(0,0,0,0.2);
    }
    
   .boardList-box{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
   }

   .board-table{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(0,0,0,0.3);
   }

   .board-data-div{
    display: flex;
    align-items: center;
    flex-direction: row;
   }

   .board-tr{
    border-top: 4px solid rgba(119, 119, 119, 0.1);
    border-bottom: 4px solid rgba(119, 119, 119, 0.1);
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    transition: background-color 0.3s ease; 

    display: flex;
    flex-direction: row;
   }


   .board-tr-left{
    width: 70%;
   }

   .board-tr-right{
        width: auto;
        display: flex;
        flex-direction: row;

        margin-top: auto;
        margin-left: auto;
        margin-right: 15px;
        font-size: 13px;
    }

   .board-userIcon{
    width: 17px;
    height: 17px;
    margin-right: 3px;
    background-color: rgb(0,0,0,0.1);
   }
   
   .board-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }

   .board-content{
    font-size: 13px;
    color: rgb(0,0,0,0.7);
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

   }

   .board-data{
    font-size: 13px;
    display: flex;
    flex-direction: row;
   }

   .board-line{
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(0,0,0,0.4);
   }
  
   .board-like{
    /* color:#FFCC33; */
    color:#e05151;
    font-weight:600;
   }
    .board-like-icon{
    width: 12px;
    height: 12px;
    }

    .board-comment-icon{
    width: 11px;
    height: 11px;
    }

   .board-comment{
    margin-right: 10px;
    color:#fbc522;
    font-weight:600;
   }

}