.Comments{
    width: 100%;
    height: auto;
}

.comment-tr{
    width: 98%;
    height: auto;
    border-bottom:1px solid rgb(0,0,0,0.2);
    padding-left: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.comment-tr-row{
    display: flex;
    flex-direction: row;
}

.comment-tr-writer{
    margin-right: 4px;
    font-size: 16px;
}

.comment-tr-createAt{
    font-size: 10px;
    margin-top: auto;
    color:rgb(0,0,0,0.4)
}

.comment-tr-content{
    font-size: 14px;
    margin-top: 3px;
}