@media screen and (max-width: 800px) {
    .Myaccount{
        width: 100vw;
        min-height: 92vh;
        background-color: rgb(250,250,250);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Myaccount-logoBar{
        width: 94%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .Myaccount-logoBar-logoImg{
        width: 40px;
        height: 40px;
    }
    .Myaccount-logoBar-p{
        font-size: 23px;
        font-weight: bold;
    }

    .Myaccount-myData{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    }

    /* 디브박스들 위에 헤더 */
    .Myaccount-div-header{
        width: 100%;
        height: 45px;
        font-size: 25px;
        box-sizing: border-box;
        padding-left: 5%;
        background-color: #66c1dc;
        color: white;
        border-radius: 0.7em 0.7em 0 0;
        display: flex;
        align-items: center;
    }
    .Myaccount-myData-data{
        width: 100%;
        box-sizing: border-box;
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 17px;
        background-color: rgb(255,255,255);
    }
    .Myaccount-myData-data-bottom{
        border-radius: 0 0 0.7em 0.7em;
    }

    .Myaccount-myData-line{
        width: 90%;
        border-bottom: 0.7px solid rgb(0,0,0,0.2);
    }

}