@media screen and (max-width: 800px) {
    .Myaccount{
        width: 100vw;
        min-height: 92vh;
        background-color: rgb(250,250,250);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Myaccount-haeder{
        width: 100%;
        height: auto;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        padding: 4%;
        background-color: rgba(77, 77, 77, 0.2);
    }

    .Myaccoun-myData{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .Myaccoun-myData-div{
        width: 100%;
        height: auto;
        border-bottom: 0.1px solid rgb(0,0,0,0.1);
        box-sizing: border-box;
        padding: 4%;
        padding-top: 3%;
        padding-bottom: 3%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Myaccoun-myData-div-header{
        font-weight: bold;
    }
    .Myaccoun-myData-div-data{
        margin-left: auto;
        margin-right: 10px;
    }
    .Myaccoun-myData-div-icon{
        height: 15px;
        width: auto;
    }

}